extends ../../layout/blog-layout.pug

block content
    :markdown-it
        Stryker 0.5.8 brings us a new mutator, as well as some minor bug fixes.

        ## Introducing the `ArrayDeclarationMutator`

        ## Bugfixes

        Consult the [stryker change log](https://github.com/stryker-mutator/stryker/blob/master/CHANGELOG.md) for more information.        